@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --gradient-end: 255, 0, 128;
    /* Hot Pink */
    --gradient-start: 0, 255, 255;
    /* Cyan */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom right,
            rgb(var(--gradient-start)),
            rgb(var(--gradient-end)));
}

/* If you're using a gradient or pattern, add these properties */
html {
    background: linear-gradient(to bottom right,
            rgb(var(--gradient-start)),
            rgb(var(--gradient-end)));
    min-height: 100dvh;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}